{% extends "admin/change_form.html" %}
{% load i18n timetags %}

{% block content %}
    {{ block.super }}

    <fieldset class="module aligned with-legend suit-tab suit-tab-terms show">

       <h2> {% trans 'Terms and agreements history' %} </h2>


       <table class="table-overview">
           <tbody>
               <tr>
                   <th> {% trans 'Date' %} </th>
                   <th> {% trans 'Type' %} </th>
                   <th> {% trans 'Where' %} </th>
                   <th> {% trans 'Status' %}</th>
               </tr>
                   {% for element in adminform.form.terms.value %}
                       <tr>
                           <th> {{ element.date|print_timestamp }} </th>
                           <td> {{ element.type }} </td>
                           <td> {{ element.description }} </td>
                           <td> {{ element.perm }}</td>
                       </tr>
                   {% endfor %}
           </tbody>
       </table>
    </fieldset>

{% endblock %}