{% extends BASE_SITE  %}
{% load i18n static forms %}

{% block page_content %}
    <div class="account publications">
        <div class="category__heading heading heading--image">
            <img src="{% static 'media/icons/icon-profile.png' %}" alt="/" class="heading__image">
            <h2 class="heading__title">
                {% trans "My top agrar" %} - {% trans "Password change" %}
            </h2>
        </div>
        {% include "auth_ex/_profile_menu.html" with active=3  %}
        <div class="account__data">
            <div class="account__section account__section--padding">
                <div class="">
                    <p class="account__subheader">{% trans "Password change" %}</p>
                    <div class="account__container">
                        <p class="account__text">{% blocktrans %}Let us help you take a moment.{% endblocktrans %}</p>
                        <p class="account__text">{% blocktrans %}All you have to do is give us your e-mail address in the window below and click "Send".{% endblocktrans %}</p>
                    </div>

                    <div class="account__profile-item account__profile-item--wide account__profile-item--center">
                        <form action="{% url "auth:password_reset" %}" class="form" id="login-form" method="POST" novalidate="">
                            <div class="form__field-row form__field-row--thin">
                                <div class="form__field-group">
                                    {% label form.email "form__label" %}
                                    {% field "email" form.email "form__field" custom_value=user.email %}
                                    {% error_label form.email %}
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="form__field-row form__field-row--checkbox">
                                <div class="form__field-group">
                                    <input type="submit" class="button button--primary account__button" value='{% trans "Send" %}'>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar_content %}
    {% include "auth_ex/_profile_sidebar.html" %}
{% endblock %}
