{% extends BASE_SITE %}
{% load i18n breadcrumbs forms blocks_tags %}

{% block meta_title %}
    {% trans "Reset password" %}
{% endblock %}
    
{% block breadcrumbs %}
        <div class="breadcrumbs">   
            {% tap_breadcrumb 'index' 'Homepage' %}
            <p class="breadcrumbs__item">
                {% trans "Login zone" %}
            </p>
        </div>
{% endblock %}

{% block page_content %}
    <div class="login-page">
        <div class="row">
            <div class="login-page__box">
                <div class="login-page__box-content login-page__box-content--grey">
                    <div class="login-page__heading heading">
                        <h3 class="heading__title">{% trans "Forgotten password step 1" %}</h3>
                    </div>
                    <div class="login-page__content">
                        <p class="login-page__subtitle">{% i18n_block auth_ex_password_reset_step1 %}</p>
                        <div class="login-page__form-container">
                            <form class="form login-page__form" id="login-form" method="POST" novalidate>
                                    <div class="form__field-row login-page__field-row">
                                        <div class="form__field-group">
                                            {% label form.email "form__label" %}
                                            {% field "email" form.email "form__field" user.email %}
                                            {% error_label form.email %}
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <div class="form__field-row form__field-row--checkbox login-page__field-row">
                                        <div class="form__field-group">
                                            <div class="login-page__buttons">
                                                <input type="submit" class="button--padded login-page__submit-form button button--primary" value="{% trans "Start the password reminder procedure" %}">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}