{% load i18n static %}
<input id="id_description" name="description" type="hidden" value="{{ description }}" />

{% for agreement in agreements %}
    {% if agreement.permtype == 'text' %}
        <p class="publication-creator__terms-title">{{ agreement.full|safe }}</p>
    {% elif agreement.permtype == 'checkbox'%}
        <div class="form__field-group form__field-group--inline form__field-group--top-align form__option">
            <div class="form__field-group form__field-group--inline form__field-group--top-align form__option">
                <input id="{{ agreement.type }}" type="checkbox" class="form__checkbox" name="{{ agreement.type }}" {% if agreement.required %}required{% endif %}>
                <label for="{{ agreement.type }}" class="form__label form__label--small form__label--checkbox">{{ agreement.short|safe }}{% if agreement.required %}*{% endif %} </label>
                <span class="form__tooltip-container" data-tooltip="{{ agreement.extended }}">
                    <img src="{% static 'images/icons/info-icon.png' %}" alt="">
                </span>
            </div>
        </div>
    {% elif agreement.permtype == 'popup' %}
        <section style="margin-bottom: 40px;">
            {# <p class="subheading__title">{{ agreement.short|safe}}</p> #}
            <a href="#" class="article__link" data-modal="popup">
                {{ agreement.short|safe }}
            </a>
            <div class="modal-popup" id="popup">
                <div class="modal-popup__content">
                    <p class="modal-popup__close">&#10005;</p>
                    <p>{{ agreement.extended|safe }}</p>
                </div>
            </div>
        </section>
    {% endif %}
{% endfor %}
